.pane {
  -fx-background-color: #cebfbf;
}

.userpane{
  -fx-background-color: #171c2b;
}

.chatpane {
  -fx-background-color: #1b2130;
}

.sidebar {
  -fx-background-color: #121621;
}
.searchbar {
	-fx-background-color: transparent;
	-fx-background-radius: 10px;
	-fx-border-style: solid;
	-fx-font-family: "Arial";
	-fx-text-fill: white !important;
	 -fx-font-style: italic;
}

.green-border {
    -fx-border-color: green transparent transparent green;
   
}

.backgroundImage{
  -fx-background-image: url("../icons/background.jpeg");
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
